.input:focus {
    outline-color: #9d9d9d;
}

.input {
    display: flex;
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 7px 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.inputWrapper {
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    outline-color: #CC1439;
}

.error {
    color: #CC1439;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
