.item {
    padding: 16px 17px;
}

.item:last-of-type {
}

.users {
    min-width: 606px;
    border-spacing: 0;
}

.buttonsContainer {
    margin-left: 237px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.container {
}

.thead {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #E5E5E5;;
}

.nameCol {
    padding: 10px 17px;
    width: 50%;
}

.ageCol {
}