.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: #0080FF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
    width: 276px;
    height: 36px;
    padding: 8px 24px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pen {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}