.App {
    --header_height: 60px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 216px 0;
    position: relative;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 70px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.hwTitle {
    padding: 47px 70px 10px;
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hw_wrapper_custom {
    padding-top: 60px;
}

