.button {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #FFF;
    cursor: pointer;
    /* 142.857% */
}

.disabled {
    background: #004D99;
    color: #002E5C;
}

.secondary {
    color: #06C;
    background: transparent;
    border: 1px solid #06C;
}

.default {
    background: #06C;
    color: #FFF;
}

.red {
    background: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;

}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B2;

}

.secondary:active {
    background: #C9E5FF;

}

.red:active {
    background: #B21232;
}

.button:disabled {
    opacity: 0.5;
}
