.container {
}

.wrapper {
    display: flex;
    gap: 22px;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #000;
}
